.button {
    padding: var(--spacing-200) var(--spacing-800);
    border: none;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius-soft);
    background-color: var(--surface-color);
    color: inherit;
}