body {
    font-size: var(--font-size-400);
    font-family: var(--font-family);
    font-weight: var(--font-weight-normal);
    color: var(--text-color);
    background-color: var(--background-color);
}

input,
button {
    cursor: pointer;
}


@supports(height: 100dvh) {
    main {
        height: 100dvh;
    }
}

main {
    height: 100vh;
}

.container {
    max-inline-size: 1240px;
    margin-inline: auto;
    padding: var(--spacing-400);
}

.flex-row {
    display: flex;
}

.flex-row-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}