/* Flex */
.gap-600 {
    gap: var(--spacing-600);
}

.justify-content-space-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.width-50 {
    width: 50%;
}

.margin-block-start-800 {
    margin-block-start: var(--spacing-800);
}

.margin-block-800 {
    margin-block: var(--spacing-800);
}

.margin-block-end-400 {
    margin-block-end: var(--spacing-400);
}

.margin-block-1000 {
    margin-block: var(--spacing-1000);
}

.margin-inline-end-200 {
    margin-inline-end: var(--spacing-200);
}

.margin-block-end-300 {
    margin-block-end: var(--spacing-300);
}

.text-transform-uppercase {
    text-transform: uppercase;
}

.padding-block-800 {
    padding-block: var(--spacing-800);
}

.font-weight-bold {
    font-weight: var(--font-weight-bold);
}

.grid-column-span-2 {
    grid-column: span 2;
}


/* Hide from screen */
.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}